.margin-right{
    margin-right: 20px;
}

.top-bar-spacing{
    padding:15px 40px 15px 10px;
}

h2 {
    margin-top: 40px;
    padding-bottom: 20px;
}

.loading{
    width: 0%;
    animation-name: load-bar;
    animation-duration: 30s;
    animation-fill-mode:forwards;
}

@keyframes load-bar {
    0%{
        width: 0%
    }
    100%{
        width: 100%
    }
}



